div{
    height:50vh;
}
.one{
    background-image: url("./download\ \(2\).jpg");

}
.two{
    background-image:url("./bts.jpg");
}
.three{
    background-image: url("./download\ \(2\).jpg");
}